/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Custom CSS
-------------------------------------------------- */

.title-box {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px;
}

    .title-box h1 {
        /*text-shadow: 0 0 2px white, 0 0 25px #a01099, 0 0 5px #a01099;*/
        color: white;
        font-size: 35px;
        /*font-family: 'Rock Salt', cursive;*/
    }

.page-box:hover {
    /*border: solid 0.5px #29ebff;*/
}

.page-box {
    border: none; 
    padding: 25px;
    margin-top: 25px;
    text-decoration: none;
}

    .page-box:hover > .custom-h2 {
        color: #CC527A;
    }

.card-box {
    margin-top: 25px;
    background-color: transparent;
}

.custom-h2 {
    color: white;
    font-size: 35px;
}

body {
    margin: 0;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-image: url("~/img/mountain-scape.jpg");
    background-color: #363636;
}

.dataTables_info {
    color: white;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #CC527A;
    border-radius: .25rem;
    color: white;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    color: #29ebff;
}

    .navbar-toggler:focus, .navbar-toggler:hover {
        background-color: transparent;
        border: 1px solid #CC527A;
        border-radius: .25rem;
    }

.custom-navbar {
    background-color: #474747;
}

.custom-navlink {
    color: #A8A7A7 !important;
}

    .custom-navlink:hover {
        color: #CC527A !important;
    }

.dropdown-navlink {
    color: #A8A7A7 !important;
}

    .dropdown-navlink:hover {
        color: #CC527A !important;
    }
    
footer {
    position: relative;
    bottom: 0;
    text-align: center;
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
}

.custom-footer {
    background-color: #474747;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.custom-footer a {
    color: #CC527A !important;
}

.custom-footer p {
    margin: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #A8A7A7;
    background-color: transparent;
}

    .table td, .table th {
        vertical-align: top;
        border-bottom: 1px solid #A8A7A7;
    }

    .table thead th {
        background-color: #474747;
        color: #A8A7A7;
    }

    .table tbody + tbody {
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #474747;
    background-clip: padding-box;
    border: 1px solid #CC527A;
    border-radius: .25rem
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.form-control {
}

    .form-control:focus {
    }

.custom-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #A8A7A7;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #A8A7A7;
    background-color: transparent;
    text-transform: capitalize;
    box-shadow: none;
    outline: none;
    border-radius: 0;
}

    .custom-input:focus {
        box-shadow: none;
        border-bottom: 1px solid #CC527A;
    }

select.custom-select {
    border: none;
    border-bottom: 1px solid #A8A7A7;
    background-color: transparent;
    color: #A8A7A7;
    border-radius: 0;
}

    select.custom-select:focus {
        box-shadow: none;
        border-bottom: 1px solid #CC527A;
    }

.custom-button {
    color: #363636;
    background-color: #A8A7A7 !important;
    border-color: #A8A7A7
}

    .custom-button:hover {
        color: #363636;
        background-color: #CC527A !important;
        border-color: #CC527A
    }

    .custom-button.focus, .custom-button:focus {
        color: #363636;
        background-color: #CC527A !important;
        border-color: #CC527A;
        box-shadow: 0 0 0 .2rem rgba(38,143,255,.5)
    }

.material-icons.fp {
    color: #A8A7A7;
}

.material-icons.fp:hover {
    color: #CC527A;
}

.material-icons.p {
    color: #E8175D
}

.material-icons.lg {
    color: #A8A7A7
}

.material-icons.mg {
    color: #474747
}

.material-icons.dg {
    color: #363636
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid #CC527A;
    background-color: transparent;
    border-radius: 0;
    text-transform: capitalize;
}

    [type=search]:focus {
        outline-offset: -2px;
        -webkit-appearance: none;
        border: none;
        border-bottom: 1px solid #CC527A;
        background-color: transparent;
        border-radius: 0;
        text-transform: capitalize;
        box-shadow: none;
        outline: none;
        color: #CC527A;
    }

    [type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }

.form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #A8A7A7;
    background-color: transparent;
    text-transform: capitalize;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    color: #CC527A;
}

    .form-control-sm:focus {
        box-shadow: none;
        border-bottom: 1px solid #CC527A;
        color: #CC527A;
        background-color: transparent !important;
        border-color: #CC527A;
    }

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

/* Table Pagination*/

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
    z-index: 3;
    color: #CC527A !important;
    background-color: transparent;
    border-color: #A8A7A7
}

.page-item.disabled .page-link {
    color: #474747 !important;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
    border-color: #A8A7A7
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    background-color: transparent;
}

.custom-icon {
    line-height: none !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 0 !important;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}