/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Custom CSS
-------------------------------------------------- */

.title-box {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px;
}

    .title-box h1 {
        /*text-shadow: 0 0 2px white, 0 0 25px #a01099, 0 0 5px #a01099;*/
        color: white;
        font-size: 35px;
        /*font-family: 'Rock Salt', cursive;*/
    }

.page-box:hover {
    /*border: solid 0.5px #29ebff;*/
}

.page-box {
    border: none; 
    padding: 25px;
    margin-top: 25px;
    text-decoration: none;
}

    .page-box:hover > .custom-h2 {
        color: #CC527A;
    }

.card-box {
    margin-top: 25px;
    background-color: transparent;
}

.custom-h2 {
    color: white;
    font-size: 35px;
}

body {
    margin: 0;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-image: url("~/img/mountain-scape.jpg");
    background-color: #363636;
    /*background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;*/
    /*background: linear-gradient(black, #a01099);*/
}

.dataTables_info {
    color: white;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #CC527A;
    border-radius: .25rem;
    color: white;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    color: #29ebff;
}

    .navbar-toggler:focus, .navbar-toggler:hover {
        background-color: transparent;
        border: 1px solid #CC527A;
        border-radius: .25rem;
    }

.custom-navbar {
    background-color: #474747;
}

.custom-navlink {
    color: #A8A7A7 !important;
}

    .custom-navlink:hover {
        color: #CC527A !important;
    }
    
footer {
    position: relative;
    bottom: 0;
    text-align: center;
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
}

.custom-footer {
    background-color: #474747;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.custom-footer a {
    color: #CC527A !important;
}

.custom-footer p {
    margin: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #CC527A;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: #CC527A;
}

    .table td, .table th {
        vertical-align: top;
    }

    .table thead th {
        background-color: #474747;
        color: #A8A7A7;
    }

    .table tbody + tbody {
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #474747;
    background-clip: padding-box;
    border: 1px solid #CC527A;
    border-radius: .25rem
}