@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container-fluid mt-2">
    <div class="row mt-2" style="text-align:center">
        <h3>Register confirmation</h3>
    </div>
    <div class="row justify-content-evenly mt-2">
        <div class="card-custom col-lg-5 col-md-12 col-sm-12 p-5">
            <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-primary w-100">Click here to confirm your account</a>
        </div>
    </div>
</div>

