@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The <b>Simple Media Server Management (SMSM)</b> web application is built with a privacy-first approach and as such uses <b>no </b> cookies or tracking tools. This application will ask for names and emails for functionality purposes only. All data provided to this program is stored locally within the machine it is installed on and will be erased upon removal. Simple Media Server Management (SMSM) will <b>never</b> attempt to contact you, thus any and all emails claiming to be on behalf of Simple Media Server Management (SMSM) should be <b>ignored</b>.</p>