
@{
    ViewBag.Title = "Movies";
}

@model Interface.Models.Movie

<div id="movieListView" class="row list-view">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-6" align="left">
                    <h2>Movies</h2>
                </div>

                <div class="col-6" align="right">
                    <button class="btn" onclick="getMovies()" title="Reset"><span class="material-icons fp">restore</span></button>
                    <button class="btn" onclick="addMovie()" title="Add"><span class="material-icons fp">add_box</span></button>
                </div>
            </div>
            <div class="mt-3">
                <table id="movieDataTable" class="table table-bordered table-striped dt-responsive nowrap"></table>
            </div>
        </div>
    </div>
</div>

<div id="movieDetailView" class="row detail-view">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-6" align="left">
                    <h4 id="movieTitleHeading" class="header-title">Add Movie</h4>
                </div>
                <div class="col-6" align="right">
                    <button class="btn" onclick="showMovieList()" title="Cancel"><span class="material-icons fp">cancel</span></button>
                </div>
            </div>
            <form method="post" autocomplete="off" asp-action="SaveMovie" asp-controller="Home">
                <div hidden>
                    <div class="row">
                        <div class="col-lg-3">
                            <fieldset class="form-group">
                                <label class="form-label semibold" asp-for="ID"></label>
                                <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
                                <input type="text" id="movieIDInput" class="custom-input" asp-for="ID" />
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="form-group">
                            <label class="form-label semibold" asp-for="Title"></label>
                            <input type="text" id="movieTitleInput" class="custom-input" asp-for="Title" />
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="form-group">
                            <label class="form-label semibold" asp-for="YYYY"></label>
                            <input type="text" id="movieYearInput" class="custom-input" asp-for="YYYY" />
                        </fieldset>
                    </div>
                </div>
                <div class="mt-3" align="right">
                    <button class="btn" title="Save" id="submit"><span class="material-icons fp">save</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var tmdb_api_key = "3adb91774a2fe2901621d419e9250c19";
    var imdb_api_key = "k_s93IvoS6";

    $(document).ready(function () {
        showMovieList();
        getMovies();
    });

    function addMovie() {
        clearMovieDetailForm();
        showMovieDetail();
    }

    function getMovies() {
        $.ajax({
            method: "get",
            contentType: "application/json; charset=utf-8",
            url: "GetMovies",
            dataType: "json",
            success: function (response) {
                var movieDataTable = $("#movieDataTable").dataTable({
                    responsive: true,
                    searching: true,
                    ordering: true,
                    autoWidth: false,
                    deferRender: true,
                    select: true,
                    paging: true,
                    pageLength: 25,
                    data: response,
                    destroy: true,
                    columns: [
                        {
                            title: "Title",
                            data: "title",
                            responsivePriority: 0
                        },
                        {
                            title: "Year",
                            data: "yyyy",
                            responsivePriority: 0
                        },
                        {
                            data: 'id',
                            render: function (data, type, row) {
                                var edit = '<button title="Edit" class="btn" onclick="editMovie(\'' + data + '\')"><span class="material-icons fp">create</span></button>';
                                var del = '<button title="Delete" class="btn" onclick="deleteMovie(\'' + data + '\')"><span class="material-icons fp">delete</span></button>';
                                return edit + '' + del;
                            },
                            responsivePriority: 0,
                            orderable: false,
                            width: 10
                        }
                    ],
                    initComplete: function (settings, json) { }
                });

                movieDataTable.on("page.dt", function () {
                    $("html, body").animate({
                        scrollTop: 0
                    },
                        "slow"
                    );
                });
            }
        });
    }

    function clearMovieDetailForm() {
        $("#movieIDInput").val('');
        $("#movieTitleInput").val('');
        $("#movieYearInput").val('');
        $("#movieTitleHeading").html('Add Movie');
    }

    function showMovieDetail() {
        $("#movieListView").hide();
        $("#movieDetailView").show();
    }

    function showMovieList() {
        $("#movieListView").show();
        $("#movieDetailView").hide();
    }

    function saveMovie() {
        $('#movieForm').validate({
            rules: {
                movieTitleInput: {
                    required: true
                },
                movieYearInput: {
                    required: true
                },
            },
            messages: {
                movieTitleInput: {
                    required: "Movie title is required"
                },
                movieYearInput: {
                    required: "Movie year is required"
                },
            },
            submitHandler: function (form) {
                showLoading(true);

                var movie = {
                    ID: $("#movieIDInput").val(),
                    Title: $("#movieTitleInput").val(),
                    YYYY: $("#movieYearInput").val(),
                };

                $.ajax({
                    method: 'post',
                    contentType: 'application/json; charset=utf-8',
                    url: 'SaveMovie',
                    dataType: 'json',
                    data: JSON.stringify(movie),
                    success: function (response) {
                        getMovies();
                        showMovieList();
                        alert(response);
                    },
                    error: function (xhr, err) {
                        alert(xhr.responseText);
                    }
                });
            }
        });
    }

    function editMovie(movieId) {
        clearMovieDetailForm();

        $.ajax({
            method: 'get',
            url: "GetMovie?movieId=" + movieId,
            dataType: 'json',
            success: function (response) {
                showMovieDetail();
                document.getElementById("movieTitleHeading").innerHTML = response.title;
                $("#movieIDInput").val(response.id);
                $("#movieTitleInput").val(response.title);
                $("#movieYearInput").val(response.yyyy);

            },
            error: function (xhr, err) {
                alert(xhr.responseText);
                console.log(xhr.responseText);
            }
        });
    }

    function deleteMovie(movieId) {
        $.ajax({
            method: 'post',
            url: "DeleteMovie?id=" + movieId,
            dataType: 'json',
            success: function (response) {
                alert(response);
                getMovies();

            },
            error: function (xhr, err) {
                alert(xhr.responseText);
                console.log(xhr.responseText);
            }
        });
    }

</script>

