<AuthorizeView>
    <Authorized>
        <div style="margin-right: 10px;">
        <a href="Identity/Account/Manage" class="btn btn-primary">Hello, @context.User.Identity?.Name!</a>
        </div>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="btn btn-secondary">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        
        <a href="Identity/Account/Login" class="btn btn-primary">Log in</a>
        <a href="Identity/Account/Register" class="btn btn-secondary">Register</a>
    </NotAuthorized>
</AuthorizeView>
